:root {
    --primary-color: #ffffff;
    --secondary-color: #000653;
    --tertiary-color: #000000;
}
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    color: var(--tertiary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
  
/* HEADER / NAV BAR STYLES START */
  
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}
  
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header h1 a:hover {
    color: gray;
}
  
header a {
    text-decoration: none;
    color: var(--primary-color);
}
  
header nav {
    margin: 7px 0;
}
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
  
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
    transition: .5s;
}
  
/* HEADER / NAVBAR STYLES END */

/* HERO STYLES START */
.hero {
    background-image: url('../images/Hong_Kong_background.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 0 40px;
    background-size: 100%;
    padding: 260px 230px;
    background-repeat: no-repeat;
    background-color: #1a1b27;
}

.hero h2 {
    font-weight: lighter;
    font-size: 25px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    letter-spacing: .225em;
}
/*HERO STYLES END */

/* FOOTER STYLES START */
footer {
    background: var(--tertiary-color);
    padding: 40px 35px;
    width: 100%;
}

.media {
    background: var(--tertiary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.media ul li{
    list-style: none;
    display: inline-block;
    color: white;
    font-size: 30px;
    padding: 0px 20px;
}

.media ul li a:link, .media ul li a:visited, .media ul li a:active{
    color: white;
    text-decoration: none;
}

.media ul li a:hover{
    color: gray;
    text-decoration: none;
}

.copyright {
    text-align: center;
    display: block;
    color: var(--primary-color);
    font-size: 12px;
    letter-spacing: .225em;
    padding: 0;
    text-transform: uppercase;
}
/* END FOOTER STYLES */

/* UTILITIES */
.flex-row {
    display: flex;
}  

/* SECTION TITLE AND BORDER STYLES START */
.section-title {
    font-weight: normal;
    text-transform: uppercase;
    font-style: oblique;
    font-size: 35px;
    border-bottom: 2px solid;
    color: var(--primary-color);
    padding-bottom: 20px;
    text-align: left;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 35px;
    width: 100%;
    align-self: flex-end;
    letter-spacing: .1em;
}
  
.primary-border {
    border-color: var(--primary-color);
}
    
.secondary-border {
    border-bottom: 1px solid;
    border-color: var(--tertiary-color);
}
/* SECTION TITLE AND BORDER STYLES END */

/* ABOUT ME STYLES */
.aboutme {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
}

.aboutme img {
    width: 25%;
}

.aboutmecontainer {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

.text {
    justify-content: flex-start;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 20px;
    width: 100%;

}

.text p {
    color: var(--primary-color);
    width: 100%;
    font-size: 20px;
    text-align: left;
    padding-bottom: 10px;
    font-weight: lighter;
}
/* ABOUT ME END */

/* PROJECTS STYLES */
.projects {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #000847;
}

.projectcontainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 35px;
    margin-right: 35px;
}

.runbuddy {
    width: 60%;
    border-radius: 20px;
    border: 3px solid white;
    background-image: url('../images/DollarFlightsWebpage.png');
    background-size: cover;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: stretch;
}

.firstproject {
    width: 100%;
    display: flex;
}

.firstproject span {
    opacity: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.61);
    width: 100%;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.firstproject h3 {
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 5px;
}

.firstproject span:hover, .otherprojects span:hover {
    opacity: 1;
}

.runbuddy:hover {
    transform: scale(1.02);
    transition: 0.5s;
}

.small-project:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.runbuddy:link, .runbuddy:visited, .other-projects:link, .other-projects:visited {
    text-decoration: none;
}

.otherprojects {
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.other-projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

.small-project {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 3px solid white;
}

.small-project span {
    opacity: 0;
    margin-top: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.61);
    width: 100%;
    height: 100%;
    padding: 130px 0;
    border-radius: 20px;
    text-align: center;
}

.horiseon {
    background-image: url('../images/runbuddy.PNG');
    background-size: cover;
}

.password-generator {
    background-image: url('../images/Password-Generator.PNG');
    background-size: cover;
    background-position: center;
}

.small-project span {
    margin-top: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.534);
    width: 100%;
    height: 100%;
}

/* PROJECTS END */

/* CREDENTIALS STYLES */
.credentials {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #00023b;
}

.credentials-content {
    padding-left: 35px;
    padding-right: 35px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.education {
    width: 42%;
    margin: 20px 0;
    background-color: #ffffff3b;
}

.certifications {
    width: 54%;
    margin: 20px 0;
    background-color: #ffffff3b;
}

.education h3, .certifications h3 {
    font-size: 28px;
    background-color: #ffffff3b;
    padding: 10px 0;
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
}

.education h3, .certifications h3 {
    color: white;
    width: 100%;
}

.education div h4, .certifications a div h4 {
    font-size: 22px;
}

.education div, .certifications a div {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 0;
}

.education div h4, .subcontent{
    width: 80%;
    padding-left: 25px;
    color: white;
}

.subcontent {
    font-style: italic;
}

.date {
    color: var(--primary-color);
    text-align: right;
    padding-right: 25px;
    width: 20%;
}

.certifications div h4 {
    color: white;
    width: 80%;
    padding-left: 25px;
}

.certifications a:link, .certifications a:visited {
    text-decoration: none;
}

.education div:hover, .certifications div:hover {
    background-color: var(--tertiary-color);
}

/* CREDENTIALS END */

/* SKILLS STYLES */
.skills {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #000120;
}

.skillcontainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 35px;
    margin-right: 35px;
}

.skillcontainer div {
    width: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 12px;
    background-color: #ffffff3b;
    display: flex;
    flex-direction: column;

}

.skillcontainer div:hover {
    transform: scale(1.05);
    transition: 0.5s;
    background-color: var(--secondary-color);
}

.skillcontainer div h3 {
    color: var(--primary-color);
    width: 100%;
    border-radius: 12px 12px 0 0;
    font-size: 26px;
    text-align: center;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: lighter;
    background-color: #ffffff3b;
}

.listskill {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.listskill li{
    width: 95%;
    color: var(--primary-color);
    font-size: 20px;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0px;
}
/* SKILLS END */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1440px) {
    .section-title {
        font-size: 26px;
    }

    .text p{
        font-size: 20px;
    }

    .text{
        padding-bottom: 15px;
    }

    .aboutme img {
        width: 46%;
    }

    .aboutmecontainer {
        width: 54%;
    }

    .hero {
        background-position: 0 70px;
        padding: 200px;
    }
  
    .hero h2 {
        font-size: 18px;
        width: 100%;
        text-align: center;
    }

    .firstproject span {
        padding: 170px 0;
    }

    .small-project span{
        padding: 80px 0;
    }

    .credentials-content{
        flex-direction: column;
    }

    .education, .certifications {
        width: 100%;
    }
}

@media screen and (max-width: 1160px) {
    .text p {
        font-size: 16px;
    }

    .runbuddy{
        width: 100%;
        padding: auto;
    }

    .small-project {
        margin-top: 0;
    }
  
    .other-projects{
        width: 47.5%;
    }

    .otherprojects{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .hero{
        margin-top: auto;
        padding: 140px;
    }
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .section-title {
        text-align: center;
        margin-top: 20px;
    }

    header {
        padding-bottom: 20px;
        justify-content: center;
        position: relative;
    }
    
    header h1 {
        width: 100%;
        text-align: center;
    }

    .section-title {
        font-size: 26px;
    }
  
    .text p{
        font-size: 16px;
    }

    .text{
        padding-bottom: 15px;
    }
    
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    
    header nav ul li a {
        font-size: 16px;
    }

    .hero{
        padding: 120px 30px;
        background-position: 0 0;
        background-attachment: scroll;
    }
  
    .hero h2 {
        font-size: 18px;
        width: 100%;
        text-align: center;
    }

    .aboutme img{
        display: none;
    }

    .aboutmecontainer{
        width: 100%;
    }

    .firstproject span, .otherprojects span {
        opacity: 1;
    }

    .skillcontainer{
        display: flex;
        flex-direction: column;
    }

    .skillcontainer div{
        width: 100%;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .aboutme img{
        display: none;
    }

    .hero {
        padding: 100px 30px;
    }

    .aboutmecontainer{
        width: 100%;
    }

    .firstproject span {
        padding: 130px 0;
    }

    .small-project span h3{
        font-size: 18px;
    }

    .small-project span p{
        font-size: 12px;
    }

    .education h3, .certifications h3 {
        font-size: 20px;
    }

    .education div h4, .certifications a div h4 {
        font-size: 16px;
    }

    .date, .subcontent {
        font-size: 12px;
    }

    .skillcontainer div h3 {
        font-size: 18px;
    }

    .listskill li {
        font-size: 12px;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .hero {
        padding: 60px 30px;
    }

    .hero h2 {
        font-size: 14px;
    }

    .section-title {
        padding-bottom: 10px;
    }

    .small-project span h3 {
        font-size: 10px;
    }

    .small-project span p {
        font-size: 8px;
    }

    .education div h4, .certifications a div h4, .subcontent {
        padding-left: 10px;
        width: 70%;
    }

    header nav ul li a{
        font-size: 12px;
    }

    .date{
        width: 30%;
        font-size: 10px;
        padding-right: 10px;
    }

    .media ul li {
        font-size: 20px;
        padding: 0px 5px;
    }
}
